
app-project-list {
    display: none;
}

app-contact{
    display: none;
}

app-exp-profissionais{
    display: none;
}

app-about-me{
    display: none;
}

.panel-primary{
    top: -40px;
}
    

.nav-tabs-home{
    background-color: #222 !important;
}

.nav-tabs-home a{
    color: #adacac !important;
    background-color: #222;
}

.painel-title{
    border-bottom-color:#adacac; 
}

.painel-size{
    width: 93%;
}

select {
	display: none;
    width: 125px;
    color: #fff;
    background-color: #222;
}

.panel-heading{
    background-color: #222 !important;
    display: none;
    padding: 0px !important;
}

@media (max-width: 550px){
    select {
	    display: block;
	}

    .nav{
       display: none; 
    }

}

@media (max-width: 1700px){
    .body-margin {
	    width: 95%;
    }

}


@media (max-width: 800px){
    .body-margin {
	    width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }

}

#home-panel{
    transition: top 2s;
}

.active-panel{
    display: block;
}