<div class="container body-margin painel-size main-painel-margin">
  <div class="panel panel-primary no-padding no-border col-md-12">

    <div class="panel-heading home-painel-heading">
      <ul class="nav nav-tabs nav-tabs-home no-border">
        <li role="presentation" class="active"><a (click)="todos()">Todos</a></li>
        <li role="presentation"><a (click)="angular()">Angular</a></li>
        <li role="presentation"><a (click)="jsf()">JSF</a></li>
        <li role="presentation"><a (click)="android()">Android</a></li>
        <li role="presentation"><a (click)="java()">Java</a></li>
        <li role="presentation"><a (click)="typescript()">Typescript</a></li>
      </ul>

     <select class="form-control" id="selectFilter">
         <option><a (click)="todos()">Todos</a></option>
         <option><a (click)="angular()">Angular</a></option>
         <option><a (click)="jsf()">JSF</a></option>
         <option><a (click)="android()">Android</a></option>
         <option><a (click)="java()">Java</a></option>
         <option><a (click)="typescript()">Typescript</a></option>
    </select>

    </div>
    
    <app-project-list></app-project-list>
    
  </div>
</div>

