<div class="container body-margin painel-size main-painel-margin">
  <div id="home-panel" class="panel panel-primary no-padding no-border col-md-12">

    <div id="panel-heading-projects" class="panel-heading home-painel-heading active-panel">
      <ul class="nav nav-tabs nav-tabs-home no-border">
        <li id="botao-todos" role="presentation" class="active"><a (click)="filtrarProjetos('botao-todos')">Todos</a></li>
        <li id="botao-angular" role="presentation"><a (click)="filtrarProjetos('botao-angular')">Angular</a></li>
        <li id="botao-jsf" role="presentation"><a (click)="filtrarProjetos('botao-jsf')">JSF</a></li>
        <li id="botao-android" role="presentation"><a (click)="filtrarProjetos('botao-android')">Android</a></li>
        <li id="botao-java" role="presentation"><a (click)="filtrarProjetos('botao-java')">Java</a></li>
        <li id="botao-typescript" role="presentation"><a (click)="filtrarProjetos('botao-typescript')">Typescript</a></li>
      </ul>

     <select class="form-control" id="selectFilter">
         <option><a (click)="filtrarProjetos('')">Todos</a></option>
         <option><a (click)="filtrarProjetos('')">Angular</a></option>
         <option><a (click)="filtrarProjetos('')">JSF</a></option>
         <option><a (click)="filtrarProjetos('')">Android</a></option>
         <option><a (click)="filtrarProjetos('')">Java</a></option>
         <option><a (click)="filtrarProjetos('')">Typescript</a></option>
    </select>

    </div>

    <div id="panel-heading-contact" class="panel-heading">
      <ul class="nav nav-tabs nav-tabs-home no-border">
        <li id="projects" role="presentation"><a (click)="goHome()">Projetos</a></li>
        <li id="contact" role="presentation"  class="active"><a >Contato</a></li>
      </ul>

    </div>
    
    <app-project-list class="active-panel"></app-project-list>
    <app-contact></app-contact>
  </div>
</div>

