h2{
    text-align: center;
}

.div-title{
    margin-bottom: 4%;
    margin-top: 0px;
    text-align: center;
    margin-top: -0.5%;
}

.div-principal{
    margin: 0 auto;
    float: none;
}

img.project-home-photo{
    width: 100%;
}

.mobile-version-photo{
    width: 100%;
    display: block;
    margin-left: 3%;
    margin-right: auto
}


.row{
    margin-bottom: 5%;
}

.mobile-div{
    height: 265px;
    overflow: scroll;
}

img.git-icon{
    width: 2%;
    margin-right: 1.2%;
}

div.git-icon{
    margin-bottom: 2%;
    margin-top: 3%;
}

div.project-home-photo{
    padding-bottom: 8%;
}

@media (max-width: 1000px){
    .mobile-version-photo{
        padding-top: 5%;
    }

    .mobile-div{
        display: none;
    }

    
}

@media (max-width: 400px){
    img.git-icon{
        display: none
    }

    a.git-icon{
        font-size:12px;
    }

    
}

.panel-body{
    margin-bottom: -26%;
}
