
.navbar-top{
  background-color: #222 !important;
}

.navbar{
  position: absolute;
  height: 500px;
   width: 100%;
   top: 0;
   z-index: -2;
}

#background{
  background-image: url(../../../resources/background1.png);
   background-color: #33363b;
   height: 300%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  transition: top 3.2s;
  z-index: -9999;
  background-size: 1800px;
  background-repeat: no-repeat;
}


h2{
  font-size: 70px;
}

h5{
  font-size: 15px;
}

h6{
  font-size: 30px;
}

.texto-navbar{
  margin-top: 120px;
  text-align: center;
  color: white;
}

.navbar-brand{
  font-size: 15px;
  margin-left: -4px !important;
}

.navbar-header{
  width: 100%;
}

.contato{
  float: right;
}

.active{
  color: white;
}
