
.navbar-top{
  background-color: #222 !important;
}

.navbar{
  position: absolute;
  height: 350px;
   width: 100%;
   top: 0;
  background-color: #33363b;
}

.apresentation-text{
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  color: #FFF;  
}


.item{
  width: 100%;
}

@media (max-width: 1700px){
.item{
  top: 40px !important;
}
}

h5{
  font-size: 40px;
}

h6{
  font-size: 30px;
}
    /*  */

.text-projetos {
  color: white;
    right: 32%;
    font-size: 24px;
    position: absolute;
}

@media (max-width: 1600px){
.text-projetos{
  right: 29%;
  font-size: 24px;
  position: absolute;
}
}

@media (max-width: 1400px){
.text-projetos{
  display: none;
}
}

.anuncio{
    width: 45%;
    height: auto;
    background: white;
    display: grid;
    float: right;
    margin-right: 15%;
    margin-top: 2%;
    max-width: 1000px;
}

.anuncio img{
    width: 50%;
    margin-left: 23%;
    padding: 3%;
    height: auto;
}

h2{
      font-size: 80px;
}