
 figure {
	margin: 0;
	position: relative;
	width: 100%;
}

 figure img {
	display: block;
	position: relative;
	width: 100%;
}

 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	background: #222222;
	color: #fff;
}

 figcaption h1 {
	margin: 0;
	padding: 0;
	color: #5ea8e2;
}

 figcaption span:before {
	content: 'by ';
}

 figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #327bb3;
	color: #fff;
}

figure {
	transform-style: preserve-3d;
}

figure > div {
	overflow: hidden;
}

figure img {
	transition: transform 0.4s;
}

figure:hover img {
	transform: translateX(25%);
}

figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	backface-visibility: hidden;
	transform-origin: 0 0;
	transform: rotateY(-90deg);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

figure:hover figcaption {
	opacity: 1;
	transform: rotateY(0deg);
	transition: transform 0.4s, opacity 0.1s;
}

figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

li {
	display: inline-block;
	width: 49%;
	margin: 0;
	padding: 0.5%;
	text-align: left;
	position: relative;
}

li {
	perspective: 1700px;
	perspective-origin: 0 50%;
}

@media (max-width: 800px){
    li {
	width: 100%;
	margin-bottom: 3%;
	}
}


