<div class="panel-body">
      <div class="col-md-9">
            <h2>Experiências Profissionais</h2>
            <p>Desde os 14 anos passei por diversas empresas antes de começar minha carreira como programador. Em agosto de
                  2015 abri como MEI uma empresa de limpeza de vitrine, trabalhei durante 3 meses como MEI até conseguir
                  meu primeiro estágio.</p>
            <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                        <img class="paripassu" src="../../../resources/paripassu.png">
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                        <h3>Paripassu - Novembro de 2015 à Abril de 2017</h3>
                        <p>Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000
                              anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de
                              45 AC. Richard McClintock, um professor de latim do Hampden-Sydney College na Virginia, pesquisou
                              uma das mais obscuras palavras em latim, consectetur.</p>
                  </div>
            </div>
            <div class="row">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                        <h3>BRDTI - Abril de 2017 ao Presente Momento</h3>
                        <p>Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo
                              de alteração, seja por inserção de passagens com humor, ou palavras aleatórias que não parecem
                              nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter certeza
                              de que não há algo embaraçoso escrito escondido no meio do texto.</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                        <img class="brdti" src="../../../resources/brdti.png">
                  </div>
            </div>

            <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>Conhecimentos em:</h3>
                        <div class="row">
                              <ul>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                          <li>Java</li>
                                          <li>Javascript</li>
                                          <li>AngularJS</li>
                                          <li>Jquery</li>
                                          <li>JavaEE</li>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                          <li>JSF</li>
                                          <li>JPA/Hibernate</li>
                                          <li>Foundation</li>
                                          <li>Jooq</li>
                                          <li>Maven</li>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                          <li>Spring</li>
                                          <li>Git</li>
                                          <li>Jenkins</li>
                                          <li>Inglês (intermediário)</li>
                                    </div>
                              </ul>
                        </div>
                  </div>
            </div>

      </div>


</div>