<nav class="navbar navbar-inverse" id="navbar">
  <div class="container-fluid navbar-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <div class="row">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active" id="home-mobile-button"><a (click)="setHomePanel()">Home</a></li>
            <li id="prof-exp-mobile-button"><a (click)="setExpPanel()">Experiências Profissionais</a></li>
            <li id="about-me-mobile-button"><a (click)="setAboutMe()">Sobre mim</a></li> 
            <li id="contact-mobile-button"><a (click)="setContactPanel()">Contato</a></li> 
          </ul>
          
        </div>


      <a id="home-button" class="navbar-brand active" (click)="setHomePanel()"><span class="glyphicon glyphicon-home"></span></a>
      <a id="prof-exp-button" class="navbar-brand navbar-brand-other" (click)="setExpPanel()">Experiências Profissionais</a>
      <a id="about-me-button" class="navbar-brand navbar-brand-other" (click)="setAboutMe()">Sobre mim</a>
      <a id="contact-button" class="navbar-brand contact navbar-brand-other" (click)="setContactPanel()">Contato</a>
    </div>
  </div>
  <!-- /.container-fluid -->
  <div id="background">    
    <img class="title" src="./resources/titleportifolio10.png">
    <img class="small-title" src="./resources/title-small.png">
  </div>
</nav>
