<nav class="navbar navbar-inverse" id="navbar">
  <div class="container-fluid navbar-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"><a class="navbar-brand navbar-brand-other" href="#">Experiências Profissionais</a></span>
        <span class="icon-bar"><a class="navbar-brand navbar-brand-other" href="#">Sobre mim</a></span>
        <span class="icon-bar"><a class="navbar-brand contato navbar-brand-other" href="#">Contato</a></span>
      </button>
      <a class="navbar-brand active" href="#"><span class="glyphicon glyphicon-home"></span></a>
      <a class="navbar-brand navbar-brand-other" href="#">Experiências Profissionais</a>
      <a class="navbar-brand navbar-brand-other" href="#">Sobre mim</a>
      <a class="navbar-brand contato navbar-brand-other" href="#">Contato</a>
    </div>
  </div>
  <!-- /.container-fluid -->
  <div id="background">    
    <img class="title" src="../../../resources/titleportifolio10.png">
    <img class="small-title" src="../../../resources/title-small.png">
  </div>
</nav>
