
.navbar-top{
  background-color: #222 !important;
}

.navbar{
  position: absolute;
  height: 35%;
   width: 100%;
   top: 0;
   z-index: -1;
  background-color: #33363b;
}

.image-signature{
  margin-left: 5%;
  margin-top: 2%;  
}
    