
.navbar-top{
  background-color: #222 !important;
}

.navbar{
  position: absolute;
  height: 35%;
   width: 100%;
   top: 0;
   z-index: -1;
  background-color: #33363b;
}



.apresentation-text{
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  color: #FFF;  
}

img {
      width: 35%;
    float: right;
    margin-top: 2%;
    margin-right: 25%;
}

h5{
  font-size: 40px;
}

h6{
  font-size: 30px;
}

.carousel{
    float: right;
    margin-top: 1.5%;
    margin-right: 4%;
}

.carousel-control {
  left: 20%;
}

.carousel-control.right {
    left: 78%;
}

.carousel-control {
background-image: none;
}

