.main-painel-margin{
    margin-bottom: 5%;
}

.home-painel-heading{
    padding: 0px !important;
}

.panel-primary{
top: 250px;
}
    

.nav-tabs-home{
    background-color: #222 !important;
}

.nav-tabs-home a{
    color: #adacac !important;
    background-color: #222;
}

.painel-title{
    border-bottom-color:#adacac; 
}

.social-media-icons{
    height: 20px;

}

.painel-size{
    width: 86%;
}

.body-recent-posts{
 height: 1300px;
}

.painel-popular-posts-body{
   height: 90%;
}

@media (min-width: 1140px){
    .recent-post-text{
        float: left;
    }
}

.imagem-recent-posts {
    width: 100%;
    height: 100%;
}


.recent-post{
    width: 100%;
     
} 


@media (min-width: 1300px){
.recent-post{
  width: 75% !important;  
  height: 32%;
  padding-right: 0.5%;
}
}


.imagem-recent-posts {
float: left;
}

.imagem-recent-posts img {
    float: right !important;
    width: 100%;
    padding: 2%;
    height: 100%;
}


@media (min-width: 1500px){
.recent-post-text {
    width: 25% !important;
}

.imagem-recent-posts {
    width: 70% !important;
    padding-right: 1% !important;
}

.imagem-recent-posts img {
    float: none !important;
    padding-bottom: 2%;
}

.recent-post{
  padding-right: 0px;
}
}


.recent-post-text {
    width: 100%;
    padding-left: 1.5%;
}


.painel-popular-posts-body img{
    width: 30%;
    float: left;
}

.painel-popular-posts-body p{
    padding-left: 34%;
}


.popular-posts {
    width: 25% !important;
    height: 1300px;
 }


@media (max-width: 1300px){
.popular-posts {
    display: none;
    }
}
