.main-painel-margin{
    margin-bottom: 13%;
}

.home-painel-heading{
    padding: 0px !important;
}

.panel-primary{
    top: 400px;
}
    

.nav-tabs-home{
    background-color: #222 !important;
}

.nav-tabs-home a{
    color: #adacac !important;
    background-color: #222;
}

.painel-title{
    border-bottom-color:#adacac; 
}


.painel-size{
    width: 86%;
}

@media(max-width: 2000px){
    .painel-size{
    width: 93%;
}
}

@media(max-width: 1500px){
   .painel-size{
    width: 86%;
   }
}


