<app-navbar></app-navbar>
<div class="container body-margin painel-size main-painel-margin">
<div class="background"></div>
  <div class="panel panel-primary no-padding no-border col-md-12">

    <div class="panel-heading home-painel-heading">
      <ul class="nav nav-tabs nav-tabs-home no-border">
        <li role="presentation" class="active"><a (click)="todos()">Todos</a></li>
        <li role="presentation"><a (click)="angular()">Angular</a></li>
        <li role="presentation"><a (click)="jsf()">JSF</a></li>
        <li role="presentation"><a (click)="android()">Android</a></li>
        <li role="presentation"><a (click)="java()">Java</a></li>
        <li role="presentation"><a (click)="typescript()">Typescript</a></li>
      </ul>
    </div>
    <app-home></app-home>
    
  </div>
</div>
<app-footer></app-footer>