.main-painel-margin{
    margin-bottom: 5%;
}

.home-painel-heading{
    padding: 0px !important;
}

.panel-primary{
    top: 300px;
}
    

.nav-tabs-home{
    background-color: #222 !important;
}

.nav-tabs-home a{
    color: #adacac !important;
    background-color: #222;
}

.painel-title{
    border-bottom-color:#adacac; 
}


.painel-size{
    width: 86%;
}



