<app-navbar></app-navbar>
<div class="container body-margin painel-size main-painel-margin">
  <div class="panel panel-primary no-padding no-border col-md-12">
    <div class="panel-heading home-painel-heading">
      <ul class="nav nav-tabs nav-tabs-home no-border">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Projetos</a></li>
        <li role="presentation"><a href="#">Artigos</a></li>
        <li role="presentation"><a href="#">Sobre Mim</a></li>
        <li role="presentation"><a href="#">Contato</a></li>
      </ul>
    </div>
    <app-home></app-home>
    
  </div>
</div>
<app-footer></app-footer>