.minhafoto{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}
h2 {
    margin-bottom: 1%;
}

.row{
    margin-bottom: 5%;
}

.texto-1{
     margin-left: -5%;
}

.texto-2{
    margin-left: 10%;
}

.formatura{
    width: 80%;
}

.col-md-6{
    width: 53%;
}

.div-1{
    margin-left: 3.8%;
}

   