.minhafoto{
    width: 95%;
    margin-top: 10%;
}

.formatura{
    width: 98%;
    margin-top: 7%;
}

.col-md-10{
    margin: 0 auto;
    float: none;
    margin-bottom: 5%;
}

@media (min-width: 2000px){
    .col-md-8{
        width: 80%
    }

    .col-md-4{
        width: 20%;
    }
    
}

@media (max-width: 1000px){
    .formatura{
        display: none;
    }
    
}


.panel-body{
    margin-bottom: -26%;
}
