.grid {
	list-style: none;
    padding-left: 2%;
}

@media (max-width: 800px){
    .grid {
    padding-left: 0%;
    }
}


.show-project{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
   position: relative;
}

.hide-project{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  position: absolute;
  width: 96%
}

 #taskmanager.hide-project{
  left: 50%;
}