.grid {
    padding: 0px 20px 0px 20px;
	list-style: none;
	min-height: 500px;
}



@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

.show-project{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
   position: relative;
}

.hide-project{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  position: absolute;

}