.phone{
    width: 70%;
    margin: 3%;
    min-width: 150px;
}

.whatsapp{
    width: 2.5%;
    margin-left: 1.1%;
    margin-top: -1.1%;
    max-width: 30px;
}

.email{
    width: 2.5%;
    margin-left: 1.1%;
    margin-top: -0.5%;
    max-width: 30px;

}

img.link-button{
    width: 2.5%;
    margin-left: 1.1%;
    margin-bottom: 0.3%;
    max-width: 30px;
    
}


@media (max-width: 600px){
    .col-xs-4{
        display: none;
    }

    .col-xs-8{
        width: 100%;
    }

    .whatsapp{
        width: 20px;
    }
    
    .email{
        width: 20px;
    
    }
    
    img.link-button{
        width: 20px;
        
    }
    

}

.panel-body{
    margin-bottom: -26%;
}
