<div class="panel-body">
      <div class="col-md-4">
            <img class="phone" src="../../../resources/phone.png">
           
      </div>
      <div class="col-md-8">
            <h1>Contato</h1>
            Cel: (48) 99636 - 6387 <img class="whatsapp" src="../../../resources/whatsapp.png"><br>
            E-mail: george.vepog@gmail.com <img class="email" src="../../../resources/gmail.png"><br>
            <a href="https://www.linkedin.com/in/george-melo-vepo-08343bb8/">Linkedin</a><img class="others" src="../../../resources/linkedin.png"><br>
            <a href="https://www.facebook.com/george.melovepo">Facebook</a><img class="others" src="../../../resources/facebook.png">
      </div>
            
		
</div>